:root {
    --main-color: #ffae00;
    --white: #ffffff;
    --dark-blue: #1c2d33;
    --grey: #232323;
    --dark-grey: #202020;
    --btoun: #0b0002;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button, input, textarea {
    font-family: monospace;
}

body {
background-color: var(--white);
min-height: 100vh;
display:flex;
justify-content: space-between;
align-items: stretch;

}

.header {
    margin:0 auto;
    max-width: 1140px;
    flex: 1 1;
}
.main {
    margin: 0 auto;
    max-width: 1140px;
    flex: 1 1;

}