* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
.body {
  background-color: #990909;
}
.h1 {
  text-align: center;
}
.cat,
.flower,
.clock,
.flower2 {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 0%;
}
.nav {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}
.test {
  display: flex;
  margin-left: 5%;
  justify-content: space-between;
}
.block1 {
  margin-right: 80px;
}
.block2 {
  margin-right: 80px;
}
.block3 {
  margin-right: 80px;
}
.block4 {
  margin-right: 80px;
}
.mainart {
  color: white;
  text-align: center;
}
.leftbar {
  background-color: #7d0909;
  display: inline-block;
  height: 450px;
  width: 200px;
  transform: translate(0px, -450px);
}
.asideul {
  list-style: none;
  margin-top: 100px;
  line-height: 40px;
}
a {
  color: #d9520e;
}
.rightside {
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 200px;
  float: right;
  transform: translate(-0px, -430px);
}
.mainart {
  display: block;
  height: 450px;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.asidetitle {
  background-color: silver;
  transform: translate(0px, -20px);
  text-align: center;
}
.footer {
  background-color: #d9520e;
  text-align: center;
  color: white;
}
p {
  font-size: 18px;
}
a {
  font-size: 18px;
}
.copyright {
  font-size: 20px;
}