.form__input {
  background-color: $form-color;
  height: 50px;
  width: 500px;
  opacity: 0.5;
  color: $white;
  border: none;
}
.form__messege {
  height: 250px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  height: 470px;
  justify-content: space-between;
}
.form__input:focus {
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: $white;
}
input {
  outline: none;
}
