* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  margin: 40px 40px 0px 60px;
  justify-content: center;
}
.container__title {
  display: flex;
  width: 238px;
  height: 34px;
  color: #171717;
  font-family: "Playfair Display";
  font-size: 42px;
  font-weight: 400;

  letter-spacing: -0.21px;
  margin-bottom: 40px;
}
.container__text--mainletter {
  width: 62px;
  height: 79px;
  color: black;
  font-family: "Playfair Display";
  font-size: 110px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: -0.55px;
  float: left;
  margin: 20px 20px 0 0px;
}
.container__text:not(.container__text--mainletter) {
  opacity: 0.7;
  color: #171717;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
}
.container__text--simbol {
  font-size: 60px;
  font-style: italic;
  letter-spacing: -0.3px;
  line-height: 40px;
}
.container__text--end {
  font-size: 24px;
  font-style: italic;
  letter-spacing: -0.12px;
  line-height: 34px;
}

.button__link {
  border: 1px solid #eca965;
  text-decoration: none;
  padding: 10px;
  color: #eca965;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  /* Text style for "D, iscover" */
  letter-spacing: 3.6px;
}

.button__link:hover {
  color: white;
  box-shadow: 0 0 5px black;
  background-color: #eca965;
}
.button__link {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 140px;
}
